In [2]:
from sklearn import datasets
import pandas as pd

In [3]:
iris = datasets.load_iris()
df = pd.DataFrame(iris.data, columns = iris.feature_names)
df['Target'] = iris.get('target')
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [5]:
x = df.drop(columns = 'Target')
y = df['Target']

In [7]:
#before standardization
x.head(5)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
from sklearn.preprocessing import StandardScaler

In [9]:
x = StandardScaler().fit_transform(x)
pd.DataFrame(x)

            0         1         2         3
0   -0.900681  1.019004 -1.340227 -1.315444
1   -1.143017 -0.131979 -1.340227 -1.315444
2   -1.385353  0.328414 -1.397064 -1.315444
3   -1.506521  0.098217 -1.283389 -1.315444
4   -1.021849  1.249201 -1.340227 -1.315444
..        ...       ...       ...       ...
145  1.038005 -0.131979  0.819596  1.448832
146  0.553333 -1.282963  0.705921  0.922303
147  0.795669 -0.131979  0.819596  1.053935
148  0.432165  0.788808  0.933271  1.448832
149  0.068662 -0.131979  0.762758  0.790671

[150 rows x 4 columns]

In [10]:
from sklearn.decomposition import PCA

In [12]:
#initializa PCA
pca = PCA(n_components= 3)
principal_components = pca.fit_transform(x)
principal_components

array([[-2.26470281,  0.4800266 , -0.12770602],
       [-2.08096115, -0.67413356, -0.23460885],
       [-2.36422905, -0.34190802,  0.04420148],
       [-2.29938422, -0.59739451,  0.09129011],
       [-2.38984217,  0.64683538,  0.0157382 ],
       [-2.07563095,  1.48917752,  0.02696829],
       [-2.44402884,  0.0476442 ,  0.3354704 ],
       [-2.23284716,  0.22314807, -0.0886955 ],
       [-2.33464048, -1.11532768,  0.14507686],
       [-2.18432817, -0.46901356, -0.25376557],
       [-2.1663101 ,  1.04369065, -0.2686811 ],
       [-2.32613087,  0.13307834,  0.09375924],
       [-2.2184509 , -0.72867617, -0.23091124],
       [-2.6331007 , -0.96150673,  0.18079608],
       [-2.1987406 ,  1.86005711, -0.472901  ],
       [-2.26221453,  2.68628449,  0.03052661],
       [-2.2075877 ,  1.48360936, -0.00534409],
       [-2.19034951,  0.48883832, -0.04421532],
       [-1.898572  ,  1.40501879, -0.37434327],
       [-2.34336905,  1.12784938,  0.13263047],
       [-1.914323  ,  0.40885571, -0.42129259],
       [-2.20701284,  0.92412143,  0.15986528],
       [-2.7743447 ,  0.45834367,  0.3321791 ],
       [-1.81866953,  0.08555853,  0.0344886 ],
       [-2.22716331,  0.13725446,  0.11799354],
       [-1.95184633, -0.62561859, -0.30564098],
       [-2.05115137,  0.24216355,  0.08636401],
       [-2.16857717,  0.52714953, -0.20681625],
       [-2.13956345,  0.31321781, -0.27115024],
       [-2.26526149, -0.3377319 ,  0.06843578],
       [-2.14012214, -0.50454069, -0.07500844],
       [-1.83159477,  0.42369507, -0.27046738],
       [-2.61494794,  1.79357586,  0.04722842],
       [-2.44617739,  2.15072788, -0.08266805],
       [-2.10997488, -0.46020184, -0.17027486],
       [-2.2078089 , -0.2061074 , -0.22544158],
       [-2.04514621,  0.66155811, -0.48453741],
       [-2.52733191,  0.59229277,  0.01943581],
       [-2.42963258, -0.90418004,  0.19325466],
       [-2.16971071,  0.26887896, -0.17588382],
       [-2.28647514,  0.44171539,  0.03489491],
       [-1.85812246, -2.33741516, -0.20423422],
       [-2.5536384 , -0.47910069,  0.30576645],
       [-1.96444768,  0.47232667,  0.30960132],
       [-2.13705901,  1.14222926,  0.24843356],
       [-2.0697443 , -0.71105273, -0.06392983],
       [-2.38473317,  1.1204297 ,  0.05721786],
       [-2.39437631, -0.38624687,  0.1394679 ],
       [-2.22944655,  0.99795976, -0.18149278],
       [-2.20383344,  0.00921636, -0.15302949],
       [ 1.10178118,  0.86297242, -0.68458616],
       [ 0.73133743,  0.59461473, -0.09412172],
       [ 1.24097932,  0.61629765, -0.55400684],
       [ 0.40748306, -1.75440399, -0.02310177],
       [ 1.0754747 , -0.20842105, -0.39825552],
       [ 0.38868734, -0.59328364,  0.12419155],
       [ 0.74652974,  0.77301931,  0.1489694 ],
       [-0.48732274, -1.85242909,  0.24926527],
       [ 0.92790164,  0.03222608, -0.59616936],
       [ 0.01142619, -1.03401828,  0.53889939],
       [-0.11019628, -2.65407282, -0.04679044],
       [ 0.44069345, -0.06329519,  0.20507382],
       [ 0.56210831, -1.76472438, -0.76577139],
       [ 0.71956189, -0.18622461, -0.06865895],
       [-0.0333547 , -0.43900321,  0.19493289],
       [ 0.87540719,  0.50906396, -0.50351138],
       [ 0.35025167, -0.19631173,  0.49087307],
       [ 0.15881005, -0.79209574, -0.30203717],
       [ 1.22509363, -1.6222438 , -0.48230402],
       [ 0.1649179 , -1.30260923, -0.17283781],
       [ 0.73768265,  0.39657156,  0.61652631],
       [ 0.47628719, -0.41732028, -0.26495223],
       [ 1.2341781 , -0.93332573, -0.36841227],
       [ 0.6328582 , -0.41638772, -0.29189625],
       [ 0.70266118, -0.06341182, -0.44602701],
       [ 0.87427365,  0.25079339, -0.47257895],
       [ 1.25650912, -0.07725602, -0.727155  ],
       [ 1.35840512,  0.33131168, -0.26082658],
       [ 0.66480037, -0.22592785,  0.08586389],
       [-0.04025861, -1.05871855, -0.31957333],
       [ 0.13079518, -1.56227183, -0.14998348],
       [ 0.02345269, -1.57247559, -0.24155228],
       [ 0.24153827, -0.77725638, -0.15121196],
       [ 1.06109461, -0.63384324,  0.10531139],
       [ 0.22397877, -0.28777351,  0.66524972],
       [ 0.42913912,  0.84558224,  0.45063407],
       [ 1.04872805,  0.5220518 , -0.39578638],
       [ 1.04453138, -1.38298872, -0.68829596],
       [ 0.06958832, -0.21950333,  0.29157927],
       [ 0.28347724, -1.32932464,  0.08941002],
       [ 0.27907778, -1.12002852,  0.0944876 ],
       [ 0.62456979,  0.02492303, -0.02048115],
       [ 0.33653037, -0.98840402, -0.19938976],
       [-0.36218338, -2.01923787,  0.10582105],
       [ 0.28858624, -0.85573032,  0.13088969],
       [ 0.09136066, -0.18119213,  0.12897834],
       [ 0.22771687, -0.38492008,  0.15621315],
       [ 0.57638829, -0.1548736 , -0.27165036],
       [-0.44766702, -1.54379203,  0.19040093],
       [ 0.25673059, -0.5988518 ,  0.09187916],
       [ 1.84456887,  0.87042131,  1.00540102],
       [ 1.15788161, -0.69886986,  0.53016015],
       [ 2.20526679,  0.56201048, -0.20291417],
       [ 1.44015066, -0.04698759,  0.16363011],
       [ 1.86781222,  0.29504482,  0.39562837],
       [ 2.75187334,  0.8004092 , -0.5823091 ],
       [ 0.36701769, -1.56150289,  0.98689327],
       [ 2.30243944,  0.42006558, -0.65170644],
       [ 2.00668647, -0.71143865, -0.39399057],
       [ 2.25977735,  1.92101038,  0.3975519 ],
       [ 1.36417549,  0.69275645,  0.28461207],
       [ 1.60267867, -0.42170045,  0.02318641],
       [ 1.8839007 ,  0.41924965,  0.02633841],
       [ 1.2601151 , -1.16226042,  0.58024929],
       [ 1.4676452 , -0.44227159,  1.00386957],
       [ 1.59007732,  0.67624481,  0.63842871],
       [ 1.47143146,  0.25562182,  0.03743126],
       [ 2.42632899,  2.55666125, -0.12788146],
       [ 3.31069558,  0.01778095, -0.7033053 ],
       [ 1.26376667, -1.70674538, -0.26753689],
       [ 2.0377163 ,  0.91046741,  0.23479948],
       [ 0.97798073, -0.57176432,  0.8281272 ],
       [ 2.89765149,  0.41364106, -0.85742182],
       [ 1.33323218, -0.48181122, -0.00542836],
       [ 1.7007339 ,  1.01392187,  0.29845061],
       [ 1.95432671,  1.0077776 , -0.41998472],
       [ 1.17510363, -0.31639447,  0.12993776],
       [ 1.02095055,  0.06434603,  0.33771597],
       [ 1.78834992, -0.18736121,  0.27065801],
       [ 1.86364755,  0.56229073, -0.71563412],
       [ 2.43595373,  0.25928443, -0.72781615],
       [ 2.30492772,  2.62632347, -0.49347381],
       [ 1.86270322, -0.17854949,  0.35414871],
       [ 1.11414774, -0.29292262, -0.18348839],
       [ 1.2024733 , -0.81131527, -0.16472376],
       [ 2.79877045,  0.85680333, -0.5429065 ],
       [ 1.57625591,  1.06858111,  0.94585382],
       [ 1.3462921 ,  0.42243061,  0.18087548],
       [ 0.92482492,  0.0172231 ,  0.41682619],
       [ 1.85204505,  0.67612817, -0.01267211],
       [ 2.01481043,  0.61388564,  0.42833284],
       [ 1.90178409,  0.68957549,  0.13007501],
       [ 1.15788161, -0.69886986,  0.53016015],
       [ 2.04055823,  0.8675206 ,  0.338144  ],
       [ 1.9981471 ,  1.04916875,  0.63241344],
       [ 1.87050329,  0.38696608,  0.25627385],
       [ 1.56458048, -0.89668681, -0.02637135],
       [ 1.5211705 ,  0.26906914,  0.18017838],
       [ 1.37278779,  1.01125442,  0.93339524],
       [ 0.96065603, -0.02433167,  0.52824881]])

In [14]:
#create this new dataset from PC's
df = pd.DataFrame(principal_components, columns = ['PC1','PC2','PC3'])
df['Target'] = iris.get('target')
df

          PC1       PC2       PC3  Target
0   -2.264703  0.480027 -0.127706       0
1   -2.080961 -0.674134 -0.234609       0
2   -2.364229 -0.341908  0.044201       0
3   -2.299384 -0.597395  0.091290       0
4   -2.389842  0.646835  0.015738       0
..        ...       ...       ...     ...
145  1.870503  0.386966  0.256274       2
146  1.564580 -0.896687 -0.026371       2
147  1.521170  0.269069  0.180178       2
148  1.372788  1.011254  0.933395       2
149  0.960656 -0.024332  0.528249       2

[150 rows x 4 columns]

In [15]:
#Calculate the variance of each component

print("Variance of each PC's : ",pca.explained_variance_ratio_)
print("Total variation captured : ",sum(list(pca.explained_variance_ratio_))*100)

Variance of each PC's :  [0.72962445 0.22850762 0.03668922]
Total variation captured :  99.48212908928451

In [16]:
#initializa PCA
pca = PCA(n_components= 2)
principal_components = pca.fit_transform(x)
#create this new dataset from PC's
df = pd.DataFrame(principal_components, columns = ['PC1','PC2'])
df['Target'] = iris.get('target')
df

          PC1       PC2  Target
0   -2.264703  0.480027       0
1   -2.080961 -0.674134       0
2   -2.364229 -0.341908       0
3   -2.299384 -0.597395       0
4   -2.389842  0.646835       0
..        ...       ...     ...
145  1.870503  0.386966       2
146  1.564580 -0.896687       2
147  1.521170  0.269069       2
148  1.372788  1.011254       2
149  0.960656 -0.024332       2

[150 rows x 3 columns]

In [17]:
#Calculate the variance of each component

print("Variance of each PC's : ",pca.explained_variance_ratio_)
print("Total variation captured : ",sum(list(pca.explained_variance_ratio_))*100)

Variance of each PC's :  [0.72962445 0.22850762]
Total variation captured :  95.81320720000164