In [1]:
import numpy as np

#### Random Arrays

In [2]:
np.random.rand(5)

array([0.35801347, 0.14068278, 0.35299346, 0.72401385, 0.8734552 ])

In [4]:
randarr = np.random.rand(5)

In [5]:
#Random Matrix - 2d Array
randmatrix = np.random.rand(5,4)
randmatrix

array([[0.73155073, 0.1176166 , 0.36826586, 0.25493001],
       [0.30343583, 0.04997188, 0.48900356, 0.0906527 ],
       [0.82390232, 0.07809418, 0.90930364, 0.72819051],
       [0.90990707, 0.36289878, 0.17571017, 0.83178847],
       [0.04512251, 0.01798877, 0.00365901, 0.39905452]])

In [6]:
np.floor?

In [9]:
randarray1 = np.random.rand(10)
randarray1

array([0.13417217, 0.70016306, 0.03196327, 0.02168945, 0.76319453,
       0.11421178, 0.7578632 , 0.15778314, 0.62057734, 0.54102177])

In [10]:
randarray1 = randarray1*10
randarray1

array([1.34172173, 7.0016306 , 0.31963274, 0.21689449, 7.63194531,
       1.14211778, 7.57863198, 1.57783139, 6.20577343, 5.41021773])

In [11]:
randarray1 = np.floor(randarray1)
randarray1

array([1., 7., 0., 0., 7., 1., 7., 1., 6., 5.])

In [14]:
#Further simpplified method to generate random integers is np.random.randint
np.random.randint(0,100,10)

array([46, 75, 94, 85, 64, 73, 97, 80, 88, 85])

In [13]:
#random matrix of integers
np.random.randint(0,20,(5,4))

array([[12, 14, 11, 19],
       [11,  5, 17, 19],
       [ 1,  9,  0,  0],
       [17, 17, 17,  8],
       [ 4, 16, 13, 15]])

#### 1. How to extract all numbers between a given range

In [16]:
a = np.random.randint(0,50,100)
a

array([ 6, 23, 21, 47, 17, 21, 40, 26, 43, 14, 33, 24, 43, 40, 22, 10, 29,
       11, 24, 14, 10,  4, 26,  9,  3, 30, 29, 10,  9,  5, 38, 23, 37, 19,
       46, 23, 32, 49, 42, 21, 11, 30, 27,  4,  8, 17, 46, 10, 30, 29, 27,
       28, 36,  0, 48,  9, 49, 10, 32, 45, 46, 42,  7,  7, 44, 24,  5, 29,
       33,  3, 37, 47, 48, 49, 44, 16, 25, 46, 26, 28, 36,  2,  8, 20, 21,
        2, 44, 26, 38,  9, 23, 13, 43, 40,  9, 35,  3, 26, 38, 16])

In [17]:
#>10 & <25
index = np.where((a>=10) & (a<=25))

In [18]:
index

(array([ 1,  2,  4,  5,  9, 11, 14, 15, 17, 18, 19, 20, 27, 31, 33, 35, 39,
        40, 45, 47, 57, 65, 75, 76, 83, 84, 90, 91, 99], dtype=int64),)

In [19]:
outputarray = a[index]
outputarray

array([23, 21, 17, 21, 14, 24, 22, 10, 11, 24, 14, 10, 10, 23, 19, 23, 21,
       11, 17, 10, 10, 24, 16, 25, 20, 21, 23, 13, 16])

#### 2. How to print only 3 decimal places of a python numpy array

In [22]:
randmatrix = np.random.rand(5,4)
randmatrix

array([[0.28752234, 0.23488184, 0.7419324 , 0.92854223],
       [0.68655388, 0.09065203, 0.93161129, 0.83076918],
       [0.47704452, 0.63682851, 0.73157178, 0.09262065],
       [0.91049452, 0.91678743, 0.6701293 , 0.35752609],
       [0.21515716, 0.38492862, 0.00822657, 0.08438092]])

In [23]:
#limit to 3 decimal palces
np.set_printoptions(precision = 3)
randmatrix

array([[0.288, 0.235, 0.742, 0.929],
       [0.687, 0.091, 0.932, 0.831],
       [0.477, 0.637, 0.732, 0.093],
       [0.91 , 0.917, 0.67 , 0.358],
       [0.215, 0.385, 0.008, 0.084]])

#### 3. How to replace a value over a praticular threshold to a constant

In [24]:
# input = [2,3,10,11,12,5,6,7,4,5]
# output = [5,5,10,11,12,5,6,7,5,5]

In [25]:
arr1 = np.random.randint(0,50,20)
arr1

array([37,  1, 14, 30, 39, 10, 38, 39, 16, 38, 38, 31, 11,  7, 17, 10, 48,
       19,  1, 47])

In [29]:
#Lower Threshold = 10
# Upper Threshold = 40
arr1 = np.clip(arr1, a_min=10, a_max=40)
arr1

array([37, 10, 14, 30, 39, 10, 38, 39, 16, 38, 38, 31, 11, 10, 17, 10, 40,
       19, 10, 40])

#### 4. How to get the position of top n values from a numpy array

In [31]:
import numpy as np
samplearray = np.random.randint(0,20,8)
samplearray

array([18,  2,  8,  4,  6,  5, 19,  8])

In [32]:
samplearray.argsort() # arguement -- index -- position

array([1, 3, 5, 4, 2, 7, 0, 6], dtype=int64)

In [34]:
samplearray.argsort()[-3:]

array([7, 0, 6], dtype=int64)

#### 5. How to drop all the missing/null values from the array

In [36]:
a = np.array([1,4,1,5,7,np.nan,9,np.nan])
a

array([ 1.,  4.,  1.,  5.,  7., nan,  9., nan])

In [39]:
np.isnan(a)

array([False, False, False, False, False,  True, False,  True])

In [41]:
a[~np.isnan(a)]

array([1., 4., 1., 5., 7., 9.])

In [42]:
import pandas as pd

In [43]:
samplearray = np.random.randint(0,20,8)
samplearray

array([16, 19,  6,  5,  3,  7, 13,  2])

In [50]:
Series = pd.Series(samplearray[:5] , index = ['a','b','c','d','e'])

In [51]:
Series

a    16
b    19
c     6
d     5
e     3
dtype: int32

In [52]:
Series.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [53]:
Series.values

array([16, 19,  6,  5,  3])

In [54]:
S2 = pd.Series([65,70,89,70] , index = ['Physics','Chemistry','Maths','Comp. Sci'])
S2

Physics      65
Chemistry    70
Maths        89
Comp. Sci    70
dtype: int64

In [55]:
S2[0]

65

In [56]:
S2['Physics']

65

In [59]:
#Series to Tabular Data
S1 = pd.Series(np.random.randint(10000,40000,100))
S1

0     12610
1     34102
2     11964
3     38733
4     18733
      ...
95    18723
96    22112
97    28765
98    11935
99    25001
Length: 100, dtype: int32

In [60]:
S2 = pd.Series(np.random.randint(220,1200,100))
S2

0     1146
1     1194
2      641
3      590
4     1182
      ...
95     924
96    1169
97    1103
98     801
99     601
Length: 100, dtype: int32

In [61]:
S3 = pd.Series(np.random.randint(1,5,100))
S3

0     3
1     3
2     1
3     4
4     2
     ..
95    2
96    3
97    1
98    4
99    3
Length: 100, dtype: int32

In [68]:
#Concatenate all the series together
housemkt = pd.concat([S1,S2,S3],axis = 1)
housemkt

        0     1  2
0   12610  1146  3
1   34102  1194  3
2   11964   641  1
3   38733   590  4
4   18733  1182  2
..    ...   ... ..
95  18723   924  2
96  22112  1169  3
97  28765  1103  1
98  11935   801  4
99  25001   601  3

[100 rows x 3 columns]

In [67]:
type(housemkt)

pandas.core.frame.DataFrame

In [69]:
housemkt.columns = ['Rent Price','Area in sq ft','No. of rooms']

In [70]:
housemkt

    Rent Price  Area in sq ft  No. of rooms
0        12610           1146             3
1        34102           1194             3
2        11964            641             1
3        38733            590             4
4        18733           1182             2
..         ...            ...           ...
95       18723            924             2
96       22112           1169             3
97       28765           1103             1
98       11935            801             4
99       25001            601             3

[100 rows x 3 columns]

In [72]:
import pandas as pd

In [74]:
# Load the data file
df = pd.read_csv(r'C:\Users\skesh\Desktop\Data\Earthquakes.csv.csv')
df

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,18.0,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,18.0,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,NaN,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,NaN,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed

In [75]:
type(df)

pandas.core.frame.DataFrame

In [77]:
#Checking the initial few rows in the DataFrames
df.head(10)

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
5,01/10/1965,13:36:32,-13.405,166.629,Earthquake,35.0,NaN,NaN,6.7,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860922,ISCGEM,ISCGEM,ISCGEM,Automatic
6,01/12/1965,13:32:25,27.357,87.867,Earthquake,20.0,NaN,NaN,5.9,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM861007,ISCGEM,ISCGEM,ISCGEM,Automatic
7,01/15/1965,23:17:42,-13.309,166.212,Earthquake,35.0,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM861111,ISCGEM,ISCGEM,ISCGEM,Automatic
8,01/16/1965,11:32:37,-56.452,-27.043,Earthquake,95.0,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEMSUP861125,ISCGEMSUP,ISCGEM,ISCGEM,Automatic
9,01/17/1965,10:43:17,-24.563,178.487,Earthquake,565.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM861148,ISCGEM,ISCGEM,ISCGEM,Automatic

In [78]:
#Checking the dimension of the data frame
df.shape

(23412, 21)

In [79]:
#Selecting just one columns
#method 1
df['Date'] # recommend

0        01/02/1965
1        01/04/1965
2        01/05/1965
3        01/08/1965
4        01/09/1965
            ...
23407    12/28/2016
23408    12/28/2016
23409    12/28/2016
23410    12/29/2016
23411    12/30/2016
Name: Date, Length: 23412, dtype: object

In [80]:
#method 2
df.Date

0        01/02/1965
1        01/04/1965
2        01/05/1965
3        01/08/1965
4        01/09/1965
            ...
23407    12/28/2016
23408    12/28/2016
23409    12/28/2016
23410    12/29/2016
23411    12/30/2016
Name: Date, Length: 23412, dtype: object

In [82]:
df['Depth Error']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
23407    1.2
23408    2.0
23409    1.8
23410    1.8
23411    2.2
Name: Depth Error, Length: 23412, dtype: float64

In [83]:
df.Depth Error

SyntaxError: invalid syntax (<ipython-input-83-f3d7db85077a>, line 1)

In [85]:
#Selecting multiple columns
df[['Date','Time','Latitude','Longitude']].head(5)

         Date      Time  Latitude  Longitude
0  01/02/1965  13:44:18    19.246    145.616
1  01/04/1965  11:29:49     1.863    127.352
2  01/05/1965  18:05:58   -20.579   -173.972
3  01/08/1965  18:49:43   -59.076    -23.557
4  01/09/1965  13:32:50    11.938    126.427

In [86]:
#Check data types
df.dtypes

Date                           object
Time                           object
Latitude                      float64
Longitude                     float64
Type                           object
Depth                         float64
Depth Error                   float64
Depth Seismic Stations        float64
Magnitude                     float64
Magnitude Type                 object
Magnitude Error               float64
Magnitude Seismic Stations    float64
Azimuthal Gap                 float64
Horizontal Distance           float64
Horizontal Error              float64
Root Mean Square              float64
ID                             object
Source                         object
Location Source                object
Magnitude Source               object
Status                         object
dtype: object

In [88]:
df.head(2)

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic

In [87]:
#Check the null values
df.isnull()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
1,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
2,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
3,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
4,False,False,False,False,False,False,True,True,False,False,...,True,True,True,True,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
23408,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
23409,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
23410,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
23411,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [89]:
df.isnull().sum()

Date                              0
Time                              0
Latitude                          0
Longitude                         0
Type                              0
Depth                             0
Depth Error                   18951
Depth Seismic Stations        16315
Magnitude                         0
Magnitude Type                    3
Magnitude Error               23085
Magnitude Seismic Stations    20848
Azimuthal Gap                 16113
Horizontal Distance           21808
Horizontal Error              22256
Root Mean Square               6060
ID                                0
Source                            0
Location Source                   0
Magnitude Source                  0
Status                            0
dtype: int64

In [90]:
df['Magnitude'].max()

9.1

In [91]:
df['Magnitude'].min()

5.5

In [92]:
df['Magnitude'].mean()

5.882530753460003

In [93]:
df['Magnitude'].sum()

137721.81

In [95]:
df['Magnitude Type'].mode()

0    MW
dtype: object

In [96]:
df['Magnitude Type'].mode()[0]

'MW'

In [99]:
#how fill in the missing values
print('Total Number of null in the column ',df['Magnitude Type'].isnull().sum())

df['Magnitude Type'].fillna(df['Magnitude Type'].mode()[0] ,inplace = True)

Total Number of null in the column  3

In [100]:
print('Total Number of null in the column ',df['Magnitude Type'].isnull().sum())

Total Number of null in the column  0

In [104]:
#How to delete a column
df.drop(columns = 'Depth Seismic Stations',inplace = True)
#df = df.drop(columns = 'Depth Seismic Stations')

In [105]:
df

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Magnitude,Magnitude Type,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,6.0,MW,NaN,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,5.8,MW,NaN,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,6.2,MW,NaN,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,5.8,MW,NaN,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,5.8,MW,NaN,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,5.6,ML,0.320,18.0,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,5.5,ML,0.260,18.0,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,5.9,MWW,NaN,NaN,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,6.3,MWW,NaN,NaN,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,5.5,MB,0.029,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed

In [109]:
#Finding the unique value in a columns
print('Total Number of unique values in the column ',df['Magnitude Type'].unique())

print('Count of unique values in the column ',df['Magnitude Type'].nunique())

Total Number of unique values in the column  ['MW' 'ML' 'MH' 'MS' 'MB' 'MWC' 'MD' 'MWB' 'MWW' 'MWR']
Count of unique values in the column  10

In [111]:
df['Type'].unique()

array(['Earthquake', 'Nuclear Explosion', 'Explosion', 'Rock Burst'],
      dtype=object)

In [113]:
df['Type'].value_counts()

Earthquake           23232
Nuclear Explosion      175
Explosion                4
Rock Burst               1
Name: Type, dtype: int64

In [115]:
df['Magnitude Type'].value_counts()

MW     7725
MWC    5669
MB     3761
MWB    2458
MWW    1983
MS     1702
ML       77
MWR      26
MD        6
MH        5
Name: Magnitude Type, dtype: int64

In [116]:
df['Magnitude Type'].value_counts(normalize=True)

MW     0.329959
MWC    0.242141
MB     0.160644
MWB    0.104989
MWW    0.084700
MS     0.072698
ML     0.003289
MWR    0.001111
MD     0.000256
MH     0.000214
Name: Magnitude Type, dtype: float64

In [118]:
#Sort a dataframe on the basis of a column value
df[['Date','Time','Latitude','Longitude','Magnitude']].head(5)

         Date      Time  Latitude  Longitude  Magnitude
0  01/02/1965  13:44:18    19.246    145.616        6.0
1  01/04/1965  11:29:49     1.863    127.352        5.8
2  01/05/1965  18:05:58   -20.579   -173.972        6.2
3  01/08/1965  18:49:43   -59.076    -23.557        5.8
4  01/09/1965  13:32:50    11.938    126.427        5.8

In [119]:
df[['Date','Time','Latitude','Longitude','Magnitude']].sort_values(by='Magnitude')

             Date      Time  Latitude  Longitude  Magnitude
23411  12/30/2016  20:08:28   37.3973   141.4103        5.5
4419   08/19/1977  07:38:05  -10.1920   117.4120        5.5
13282  10/31/1996  18:18:43    9.9020   126.3870        5.5
4414   08/16/1977  06:15:17  -19.2800   167.6550        5.5
13293  11/04/1996  22:54:16   43.5230  -127.3560        5.5
...           ...       ...       ...        ...        ...
21219  04/11/2012  08:38:37    2.3270    93.0630        8.6
16     02/04/1965  05:01:22   51.2510   178.7150        8.7
19928  02/27/2010  06:34:12  -36.1220   -72.8980        8.8
20501  03/11/2011  05:46:24   38.2970   142.3730        9.1
17083  12/26/2004  00:58:53    3.2950    95.9820        9.1

[23412 rows x 5 columns]

In [120]:
df[['Date','Time','Latitude','Longitude','Magnitude']].sort_values(by='Magnitude',ascending = False)

             Date      Time  Latitude  Longitude  Magnitude
20501  03/11/2011  05:46:24   38.2970   142.3730        9.1
17083  12/26/2004  00:58:53    3.2950    95.9820        9.1
19928  02/27/2010  06:34:12  -36.1220   -72.8980        8.8
16     02/04/1965  05:01:22   51.2510   178.7150        8.7
17329  03/28/2005  16:09:37    2.0850    97.1080        8.6
...           ...       ...       ...        ...        ...
9918   04/06/1990  06:17:43   15.5360   147.4630        5.5
9920   04/06/1990  14:31:46  -21.6180  -174.2130        5.5
18946  04/11/2008  05:02:53   16.1740   144.8850        5.5
18945  04/11/2008  03:16:40   16.0990   144.9580        5.5
23411  12/30/2016  20:08:28   37.3973   141.4103        5.5

[23412 rows x 5 columns]

In [121]:
df.describe()

,Latitude,Longitude,Depth,Depth Error,Magnitude,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square
count,23412.000000,23412.000000,23412.000000,4461.000000,23412.000000,327.000000,2564.000000,7299.000000,1604.000000,1156.000000,17352.000000
mean,1.679033,39.639961,70.767911,4.993115,5.882531,0.071820,48.944618,44.163532,3.992660,7.662759,1.022784
std,30.113183,125.511959,122.651898,4.875184,0.423066,0.051466,62.943106,32.141486,5.377262,10.430396,0.188545
min,-77.080000,-179.997000,-1.100000,0.000000,5.500000,0.000000,0.000000,0.000000,0.004505,0.085000,0.000000
25%,-18.653000,-76.349750,14.522500,1.800000,5.600000,0.046000,10.000000,24.100000,0.968750,5.300000,0.900000
50%,-3.568500,103.982000,33.000000,3.500000,5.700000,0.059000,28.000000,36.000000,2.319500,6.700000,1.000000
75%,26.190750,145.026250,54.000000,6.300000,6.000000,0.075500,66.000000,54.000000,4.724500,8.100000,1.130000
max,86.005000,179.998000,700.000000,91.295000,9.100000,0.410000,821.000000,360.000000,37.874000,99.000000,3.440000

In [122]:
#Filtering a DataFrame
df[df['Type'] == 'Nuclear Explosion']

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Magnitude,Magnitude Type,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
565,12/20/1966,15:30:01,37.302167,-116.408333,Nuclear Explosion,1.2,31.61,5.62,ML,0.245,10.0,261.0,1.476,99.0,0.86,CI3329931,CI,CI,CI,Reviewed
897,04/26/1968,15:00:02,37.295333,-116.455667,Nuclear Explosion,1.2,31.61,5.63,ML,0.125,6.0,261.0,1.438,99.0,1.03,CI3342128,CI,CI,CI,Reviewed
1129,12/19/1968,16:30:01,37.231500,-116.473667,Nuclear Explosion,1.4,31.61,5.52,ML,0.219,6.0,257.0,1.415,99.0,1.36,CI3342181,CI,CI,CI,Reviewed
1380,09/16/1969,14:30:01,37.314167,-116.460667,Nuclear Explosion,1.2,31.61,5.82,ML,0.187,8.0,268.0,1.437,99.0,0.33,CI3326197,CI,CI,CI,Reviewed
1532,03/26/1970,19:00:01,37.300500,-116.534167,Nuclear Explosion,1.2,31.61,5.54,ML,0.410,10.0,260.0,1.377,99.0,0.35,CI3325031,CI,CI,CI,Reviewed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11963,06/10/1994,06:25:58,41.527000,88.710000,Nuclear Explosion,0.0,NaN,5.80,MB,NaN,133.0,NaN,NaN,NaN,0.90,USP0006E1A,US,US,US,Reviewed
12142,10/07/1994,03:25:58,41.662000,88.753000,Nuclear Explosion,0.0,NaN,6.00,MB,NaN,138.0,NaN,NaN,NaN,0.90,USP0006KQC,US,US,US,Reviewed
12450,05/15/1995,04:05:58,41.603000,88.820000,Nuclear Explosion,0.0,NaN,6.10,MB,NaN,175.0,NaN,NaN,NaN,1.00,USP0006XCY,US,US,US,Reviewed
12613,08/17/1995,00:59:58,41.559000,88.800000,Nuclear Explosion,0.0,NaN,6.00,MB,NaN,166.0,NaN,NaN,NaN,0.90,USP00071XV,US,US,US,Reviewed
13054,06/08/1996,02:55:58,41.657000,88.690000,Nuclear Explosion,0.0,NaN,5.90,MB,NaN,178.0,NaN,NaN,NaN,0.90,USP0007J9V,US,US,US,Reviewed

In [123]:
#applying multiple filters
df[(df['Type'] == 'Nuclear Explosion') | (df['Type'] == 'Explosion')]

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Magnitude,Magnitude Type,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
565,12/20/1966,15:30:01,37.302167,-116.408333,Nuclear Explosion,1.2,31.61,5.62,ML,0.245,10.0,261.0,1.476,99.0,0.86,CI3329931,CI,CI,CI,Reviewed
897,04/26/1968,15:00:02,37.295333,-116.455667,Nuclear Explosion,1.2,31.61,5.63,ML,0.125,6.0,261.0,1.438,99.0,1.03,CI3342128,CI,CI,CI,Reviewed
1129,12/19/1968,16:30:01,37.231500,-116.473667,Nuclear Explosion,1.4,31.61,5.52,ML,0.219,6.0,257.0,1.415,99.0,1.36,CI3342181,CI,CI,CI,Reviewed
1380,09/16/1969,14:30:01,37.314167,-116.460667,Nuclear Explosion,1.2,31.61,5.82,ML,0.187,8.0,268.0,1.437,99.0,0.33,CI3326197,CI,CI,CI,Reviewed
1532,03/26/1970,19:00:01,37.300500,-116.534167,Nuclear Explosion,1.2,31.61,5.54,ML,0.410,10.0,260.0,1.377,99.0,0.35,CI3325031,CI,CI,CI,Reviewed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11963,06/10/1994,06:25:58,41.527000,88.710000,Nuclear Explosion,0.0,NaN,5.80,MB,NaN,133.0,NaN,NaN,NaN,0.90,USP0006E1A,US,US,US,Reviewed
12142,10/07/1994,03:25:58,41.662000,88.753000,Nuclear Explosion,0.0,NaN,6.00,MB,NaN,138.0,NaN,NaN,NaN,0.90,USP0006KQC,US,US,US,Reviewed
12450,05/15/1995,04:05:58,41.603000,88.820000,Nuclear Explosion,0.0,NaN,6.10,MB,NaN,175.0,NaN,NaN,NaN,1.00,USP0006XCY,US,US,US,Reviewed
12613,08/17/1995,00:59:58,41.559000,88.800000,Nuclear Explosion,0.0,NaN,6.00,MB,NaN,166.0,NaN,NaN,NaN,0.90,USP00071XV,US,US,US,Reviewed
13054,06/08/1996,02:55:58,41.657000,88.690000,Nuclear Explosion,0.0,NaN,5.90,MB,NaN,178.0,NaN,NaN,NaN,0.90,USP0007J9V,US,US,US,Reviewed

In [126]:
df[(df['Type'] == 'Nuclear Explosion') | (df['Type'] == 'Explosion') | (df['Magnitude'] > 6)]

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Magnitude,Magnitude Type,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,6.2,MW,NaN,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
5,01/10/1965,13:36:32,-13.4050,166.6290,Earthquake,35.00,NaN,6.7,MW,NaN,NaN,NaN,NaN,NaN,NaN,ISCGEM860922,ISCGEM,ISCGEM,ISCGEM,Automatic
11,01/24/1965,00:11:17,-2.6080,125.9520,Earthquake,20.00,NaN,8.2,MW,NaN,NaN,NaN,NaN,NaN,NaN,ISCGEM861299,ISCGEM,ISCGEM,ISCGEM,Automatic
15,02/04/1965,03:25:00,-51.8400,139.7410,Earthquake,10.00,NaN,6.1,MW,NaN,NaN,NaN,NaN,NaN,NaN,ISCGEM859200,ISCGEM,ISCGEM,ISCGEM,Automatic
16,02/04/1965,05:01:22,51.2510,178.7150,Earthquake,30.30,NaN,8.7,MW,NaN,NaN,NaN,NaN,NaN,NaN,OFFICIAL19650204050122_30,OFFICIAL,ISCGEM,OFFICIAL,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23394,12/18/2016,13:30:11,-9.9640,-70.9714,Earthquake,622.54,3.1,6.4,MWW,NaN,NaN,11.0,2.804,9.1,0.65,US200082AN,US,US,US,Reviewed
23395,12/20/2016,04:21:29,-10.1773,161.2236,Earthquake,16.65,2.8,6.4,MWW,NaN,NaN,21.0,1.456,8.1,0.89,US200082PP,US,US,US,Reviewed
23399,12/21/2016,00:17:15,-7.5082,127.9206,Earthquake,152.00,1.8,6.7,MWW,NaN,NaN,17.0,3.380,5.3,1.20,US10007LKW,US,US,US,Reviewed
23403,12/25/2016,14:22:27,-43.4029,-73.9395,Earthquake,38.00,1.9,7.6,MWW,NaN,NaN,29.0,0.351,6.8,0.80,US10007MN3,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,6.3,MWW,NaN,NaN,26.0,3.553,6.0,1.43,US10007NL0,US,US,US,Reviewed

In [128]:
df[(df['Type'] == 'Nuclear Explosion') | (df['Type'] == 'Explosion')][df['Magnitude'] > 6]

C:\Users\skesh\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Magnitude,Magnitude Type,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
2797,07/23/1973,01:22:58,49.986,78.853,Nuclear Explosion,0.0,NaN,6.3,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00002TP,US,US,US,Reviewed
2859,09/12/1973,06:59:54,73.302,55.161,Nuclear Explosion,0.0,NaN,6.8,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00003DP,US,US,US,Reviewed
2897,10/27/1973,06:59:57,70.779,54.177,Nuclear Explosion,0.0,NaN,6.9,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00003YA,US,US,US,Reviewed
3218,08/29/1974,09:59:55,73.366,55.094,Nuclear Explosion,0.0,NaN,6.4,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00007UG,US,US,US,Reviewed
3286,11/02/1974,04:59:57,70.817,54.063,Nuclear Explosion,0.0,NaN,6.7,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00008N6,US,US,US,Reviewed
3593,08/23/1975,08:59:58,73.369,54.641,Explosion,0.0,NaN,6.4,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP0000CJX,US,US,US,Reviewed
3661,10/18/1975,08:59:56,70.843,53.690,Nuclear Explosion,0.0,NaN,6.7,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP0000D69,US,US,US,Reviewed
3663,10/21/1975,11:59:57,73.351,55.078,Nuclear Explosion,0.0,NaN,6.5,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP0000D7G,US,US,US,Reviewed
5198,06/23/1979,02:56:58,49.918,78.915,Nuclear Explosion,0.0,NaN,6.3,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00011G5,US,US,US,Reviewed
5234,08/04/1979,03:56:57,49.901,78.959,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP000127H,US,US,US,Reviewed
5248,08/18/1979,02:51:57,49.971,79.010,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00012GE,US,US,US,Reviewed
5388,12/23/1979,04:56:58,49.964,78.827,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00014NN,US,US,US,Reviewed
5635,09/14/1980,02:42:39,49.976,78.889,Nuclear Explosion,0.0,NaN,6.2,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00019TD,US,US,US,Reviewed
6061,12/27/1981,03:43:14,49.909,78.873,Nuclear Explosion,0.0,NaN,6.2,MB,NaN,96.0,NaN,NaN,NaN,1.0,USP0001HPJ,US,US,US,Reviewed
6177,04/25/1982,03:23:05,49.889,78.931,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,90.0,NaN,NaN,NaN,0.9,USP0001KX8,US,US,US,Reviewed
6230,07/04/1982,01:17:14,49.995,78.856,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,96.0,NaN,NaN,NaN,0.8,USP0001N8V,US,US,US,Reviewed
6363,12/05/1982,03:37:13,49.928,78.869,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,118.0,NaN,NaN,NaN,0.9,USP0001R99,US,US,US,Reviewed
6613,06/12/1983,02:36:44,49.906,78.981,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,93.0,NaN,NaN,NaN,0.8,USP0001W19,US,US,US,Reviewed
6774,10/26/1983,01:55:05,49.921,78.907,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,121.0,NaN,NaN,NaN,0.9,USP0001Z9K,US,US,US,Reviewed
7109,07/14/1984,01:09:11,49.891,78.963,Nuclear Explosion,0.0,NaN,6.2,MB,NaN,116.0,NaN,NaN,NaN,0.9,USP00025QV,US,US,US,Reviewed
7244,10/27/1984,01:50:11,49.949,78.834,Nuclear Explosion,0.0,NaN,6.2,MB,NaN,136.0,NaN,NaN,NaN,0.9,USP00028J4,US,US,US,Reviewed
7322,12/16/1984,03:55:03,49.957,78.862,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,136.0,NaN,NaN,NaN,0.9,USP0002A3E,US,US,US,Reviewed
8457,04/03/1987,01:17:08,49.928,78.829,Nuclear Explosion,0.0,NaN,6.2,MB,NaN,118.0,NaN,NaN,NaN,0.9,USP00033VD,US,US,US,Reviewed
8531,06/05/1987,04:59:58,41.584,88.737,Nuclear Explosion,0.0,NaN,6.2,MB,NaN,139.0,NaN,NaN,NaN,0.9,USP00035HR,US,US,US,Reviewed
8561,06/20/1987,00:53:05,49.913,78.735,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,127.0,NaN,NaN,NaN,0.9,USP00035XC,US,US,US,Reviewed
8795,12/13/1987,03:21:05,49.989,78.844,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,123.0,NaN,NaN,NaN,0.9,USP0003B88,US,US,US,Reviewed
8808,12/27/1987,03:05:05,49.864,78.758,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,131.0,NaN,NaN,NaN,0.8,USP0003BKH,US,US,US,Reviewed
8877,02/13/1988,03:05:06,49.954,78.910,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,121.0,NaN,NaN,NaN,0.8,USP0003CZN,US,US,US,Reviewed
8952,04/03/1988,01:33:06,49.917,78.945,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,96.0,NaN,NaN,NaN,0.8,USP0003EM3,US,US,US,Reviewed
8989,05/04/1988,00:57:07,49.928,78.769,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,112.0,NaN,NaN,NaN,0.9,USP0003FMX,US,US,US,Reviewed
9166,09/14/1988,03:59:57,49.833,78.808,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,135.0,NaN,NaN,NaN,0.9,USP0003KYJ,US,US,US,Reviewed
9327,01/22/1989,03:57:07,49.924,78.831,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,116.0,NaN,NaN,NaN,0.9,USP0003R3E,US,US,US,Reviewed
10126,08/16/1990,04:59:58,41.564,88.770,Nuclear Explosion,0.0,NaN,6.2,MB,NaN,134.0,NaN,NaN,NaN,0.9,USP0004DFG,US,US,US,Reviewed
10907,05/21/1992,04:59:58,41.604,88.813,Nuclear Explosion,0.0,NaN,6.5,MB,NaN,121.0,NaN,NaN,NaN,0.8,USP00057T0,US,US,US,Reviewed
12450,05/15/1995,04:05:58,41.603,88.820,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,175.0,NaN,NaN,NaN,1.0,USP0006XCY,US,US,US,Reviewed

In [140]:
df[(df['Type'] == 'Nuclear Explosion') | (df['Type'] == 'Explosion')][df['Magnitude']> 6]

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Magnitude,Magnitude Type,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
565,12/20/1966,15:30:01,37.302167,-116.408333,Nuclear Explosion,1.2,31.61,5.62,ML,0.245,10.0,261.0,1.476,99.0,0.86,CI3329931,CI,CI,CI,Reviewed
897,04/26/1968,15:00:02,37.295333,-116.455667,Nuclear Explosion,1.2,31.61,5.63,ML,0.125,6.0,261.0,1.438,99.0,1.03,CI3342128,CI,CI,CI,Reviewed
1129,12/19/1968,16:30:01,37.231500,-116.473667,Nuclear Explosion,1.4,31.61,5.52,ML,0.219,6.0,257.0,1.415,99.0,1.36,CI3342181,CI,CI,CI,Reviewed
1380,09/16/1969,14:30:01,37.314167,-116.460667,Nuclear Explosion,1.2,31.61,5.82,ML,0.187,8.0,268.0,1.437,99.0,0.33,CI3326197,CI,CI,CI,Reviewed
1532,03/26/1970,19:00:01,37.300500,-116.534167,Nuclear Explosion,1.2,31.61,5.54,ML,0.410,10.0,260.0,1.377,99.0,0.35,CI3325031,CI,CI,CI,Reviewed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11963,06/10/1994,06:25:58,41.527000,88.710000,Nuclear Explosion,0.0,NaN,5.80,MB,NaN,133.0,NaN,NaN,NaN,0.90,USP0006E1A,US,US,US,Reviewed
12142,10/07/1994,03:25:58,41.662000,88.753000,Nuclear Explosion,0.0,NaN,6.00,MB,NaN,138.0,NaN,NaN,NaN,0.90,USP0006KQC,US,US,US,Reviewed
12450,05/15/1995,04:05:58,41.603000,88.820000,Nuclear Explosion,0.0,NaN,6.10,MB,NaN,175.0,NaN,NaN,NaN,1.00,USP0006XCY,US,US,US,Reviewed
12613,08/17/1995,00:59:58,41.559000,88.800000,Nuclear Explosion,0.0,NaN,6.00,MB,NaN,166.0,NaN,NaN,NaN,0.90,USP00071XV,US,US,US,Reviewed
13054,06/08/1996,02:55:58,41.657000,88.690000,Nuclear Explosion,0.0,NaN,5.90,MB,NaN,178.0,NaN,NaN,NaN,0.90,USP0007J9V,US,US,US,Reviewed

In [129]:
BirEarthquakes = df[(df['Type'] == 'Nuclear Explosion') | (df['Type'] == 'Explosion')][df['Magnitude'] > 6]

C:\Users\skesh\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [134]:
BirEarthquakes.head(4)

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Magnitude,Magnitude Type,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
2797,07/23/1973,01:22:58,49.986,78.853,Nuclear Explosion,0.0,NaN,6.3,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00002TP,US,US,US,Reviewed
2859,09/12/1973,06:59:54,73.302,55.161,Nuclear Explosion,0.0,NaN,6.8,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00003DP,US,US,US,Reviewed
2897,10/27/1973,06:59:57,70.779,54.177,Nuclear Explosion,0.0,NaN,6.9,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00003YA,US,US,US,Reviewed
3218,08/29/1974,09:59:55,73.366,55.094,Nuclear Explosion,0.0,NaN,6.4,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00007UG,US,US,US,Reviewed

In [135]:
BirEarthquakes.reset_index().head(4)

,index,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,2797,07/23/1973,01:22:58,49.986,78.853,Nuclear Explosion,0.0,NaN,6.3,MB,...,NaN,NaN,NaN,NaN,NaN,USP00002TP,US,US,US,Reviewed
1,2859,09/12/1973,06:59:54,73.302,55.161,Nuclear Explosion,0.0,NaN,6.8,MB,...,NaN,NaN,NaN,NaN,NaN,USP00003DP,US,US,US,Reviewed
2,2897,10/27/1973,06:59:57,70.779,54.177,Nuclear Explosion,0.0,NaN,6.9,MB,...,NaN,NaN,NaN,NaN,NaN,USP00003YA,US,US,US,Reviewed
3,3218,08/29/1974,09:59:55,73.366,55.094,Nuclear Explosion,0.0,NaN,6.4,MB,...,NaN,NaN,NaN,NaN,NaN,USP00007UG,US,US,US,Reviewed

In [138]:
BirEarthquakes.reset_index(drop=True,inplace = True)

In [139]:
BirEarthquakes

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Magnitude,Magnitude Type,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,07/23/1973,01:22:58,49.986,78.853,Nuclear Explosion,0.0,NaN,6.3,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00002TP,US,US,US,Reviewed
1,09/12/1973,06:59:54,73.302,55.161,Nuclear Explosion,0.0,NaN,6.8,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00003DP,US,US,US,Reviewed
2,10/27/1973,06:59:57,70.779,54.177,Nuclear Explosion,0.0,NaN,6.9,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00003YA,US,US,US,Reviewed
3,08/29/1974,09:59:55,73.366,55.094,Nuclear Explosion,0.0,NaN,6.4,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00007UG,US,US,US,Reviewed
4,11/02/1974,04:59:57,70.817,54.063,Nuclear Explosion,0.0,NaN,6.7,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00008N6,US,US,US,Reviewed
5,08/23/1975,08:59:58,73.369,54.641,Explosion,0.0,NaN,6.4,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP0000CJX,US,US,US,Reviewed
6,10/18/1975,08:59:56,70.843,53.690,Nuclear Explosion,0.0,NaN,6.7,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP0000D69,US,US,US,Reviewed
7,10/21/1975,11:59:57,73.351,55.078,Nuclear Explosion,0.0,NaN,6.5,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP0000D7G,US,US,US,Reviewed
8,06/23/1979,02:56:58,49.918,78.915,Nuclear Explosion,0.0,NaN,6.3,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00011G5,US,US,US,Reviewed
9,08/04/1979,03:56:57,49.901,78.959,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP000127H,US,US,US,Reviewed
10,08/18/1979,02:51:57,49.971,79.010,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00012GE,US,US,US,Reviewed
11,12/23/1979,04:56:58,49.964,78.827,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00014NN,US,US,US,Reviewed
12,09/14/1980,02:42:39,49.976,78.889,Nuclear Explosion,0.0,NaN,6.2,MB,NaN,NaN,NaN,NaN,NaN,NaN,USP00019TD,US,US,US,Reviewed
13,12/27/1981,03:43:14,49.909,78.873,Nuclear Explosion,0.0,NaN,6.2,MB,NaN,96.0,NaN,NaN,NaN,1.0,USP0001HPJ,US,US,US,Reviewed
14,04/25/1982,03:23:05,49.889,78.931,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,90.0,NaN,NaN,NaN,0.9,USP0001KX8,US,US,US,Reviewed
15,07/04/1982,01:17:14,49.995,78.856,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,96.0,NaN,NaN,NaN,0.8,USP0001N8V,US,US,US,Reviewed
16,12/05/1982,03:37:13,49.928,78.869,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,118.0,NaN,NaN,NaN,0.9,USP0001R99,US,US,US,Reviewed
17,06/12/1983,02:36:44,49.906,78.981,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,93.0,NaN,NaN,NaN,0.8,USP0001W19,US,US,US,Reviewed
18,10/26/1983,01:55:05,49.921,78.907,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,121.0,NaN,NaN,NaN,0.9,USP0001Z9K,US,US,US,Reviewed
19,07/14/1984,01:09:11,49.891,78.963,Nuclear Explosion,0.0,NaN,6.2,MB,NaN,116.0,NaN,NaN,NaN,0.9,USP00025QV,US,US,US,Reviewed
20,10/27/1984,01:50:11,49.949,78.834,Nuclear Explosion,0.0,NaN,6.2,MB,NaN,136.0,NaN,NaN,NaN,0.9,USP00028J4,US,US,US,Reviewed
21,12/16/1984,03:55:03,49.957,78.862,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,136.0,NaN,NaN,NaN,0.9,USP0002A3E,US,US,US,Reviewed
22,04/03/1987,01:17:08,49.928,78.829,Nuclear Explosion,0.0,NaN,6.2,MB,NaN,118.0,NaN,NaN,NaN,0.9,USP00033VD,US,US,US,Reviewed
23,06/05/1987,04:59:58,41.584,88.737,Nuclear Explosion,0.0,NaN,6.2,MB,NaN,139.0,NaN,NaN,NaN,0.9,USP00035HR,US,US,US,Reviewed
24,06/20/1987,00:53:05,49.913,78.735,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,127.0,NaN,NaN,NaN,0.9,USP00035XC,US,US,US,Reviewed
25,12/13/1987,03:21:05,49.989,78.844,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,123.0,NaN,NaN,NaN,0.9,USP0003B88,US,US,US,Reviewed
26,12/27/1987,03:05:05,49.864,78.758,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,131.0,NaN,NaN,NaN,0.8,USP0003BKH,US,US,US,Reviewed
27,02/13/1988,03:05:06,49.954,78.910,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,121.0,NaN,NaN,NaN,0.8,USP0003CZN,US,US,US,Reviewed
28,04/03/1988,01:33:06,49.917,78.945,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,96.0,NaN,NaN,NaN,0.8,USP0003EM3,US,US,US,Reviewed
29,05/04/1988,00:57:07,49.928,78.769,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,112.0,NaN,NaN,NaN,0.9,USP0003FMX,US,US,US,Reviewed
30,09/14/1988,03:59:57,49.833,78.808,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,135.0,NaN,NaN,NaN,0.9,USP0003KYJ,US,US,US,Reviewed
31,01/22/1989,03:57:07,49.924,78.831,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,116.0,NaN,NaN,NaN,0.9,USP0003R3E,US,US,US,Reviewed
32,08/16/1990,04:59:58,41.564,88.770,Nuclear Explosion,0.0,NaN,6.2,MB,NaN,134.0,NaN,NaN,NaN,0.9,USP0004DFG,US,US,US,Reviewed
33,05/21/1992,04:59:58,41.604,88.813,Nuclear Explosion,0.0,NaN,6.5,MB,NaN,121.0,NaN,NaN,NaN,0.8,USP00057T0,US,US,US,Reviewed
34,05/15/1995,04:05:58,41.603,88.820,Nuclear Explosion,0.0,NaN,6.1,MB,NaN,175.0,NaN,NaN,NaN,1.0,USP0006XCY,US,US,US,Reviewed