# Python Basics

In [7]:
a = 'This is my first class'

In [8]:
type(a)

str

In [9]:
b = 5

In [10]:
type(b)

int

In [11]:
c = 4.5

In [12]:
type(c)

float

#### Strings

In [13]:
a = 'This is my first class'

In [14]:
len(a)

22

strings have index. They start with 0

In [46]:
a[0]

'T'

In [18]:
a[4]

' '

In [19]:
#accessing the last element
a[-1]

's'

In [20]:
#2nd last element
a[-2]

's'

In [21]:
#slicing a string
str1 = "(Today is our first class)"

In [24]:
str1[1:-1]

'Today is our first class'

In [22]:
a

'This is my first class'

In [23]:
a[0:6]

'This i'

In [25]:
a[:6]

'This i'

In [26]:
a[5:]

'is my first class'

In [32]:
a

'This is my first class'

In [31]:
#pre defined functions/methods available for us
a.split(' ')

['This', 'is', 'my', 'first', 'class']

In [33]:
a.upper()

'THIS IS MY FIRST CLASS'

In [34]:
a.lower()

'this is my first class'

In [47]:
a1 = "Mumbai"
a2 = " Mumbai"
a3 = "Mumbai "

In [48]:
a1.strip()

'Mumbai'

In [50]:
#cleading leading and trailing whitespaces
a2_cleaned = a2.strip()

In [51]:
a3 = a3.strip()
a3

'Mumbai'

In [54]:
x1 = '1st string'
x2 = '2nd string'

In [59]:
x1
x2

'2nd string'

In [56]:
print(x1)

x2

1st string

'2nd string'

In [63]:
a1 = a.upper()

In [64]:
a1.split(' ')

['THIS', 'IS', 'MY', 'FIRST', 'CLASS']

In [65]:
a.upper().split(' ')

['THIS', 'IS', 'MY', 'FIRST', 'CLASS']

## IF and ELSE

In [72]:
amount = 85

if amount>100:
    print("Total amount is greater than 100")
    print("You can spend money")
else:
    print("Not enough money")
    print("Save More")
    
print('If and else code over')

Not enough money
Save More
If and else code over

In [69]:
amount = 120
if amount>100:
    print("Total amount is greater than 100")
    print("You can spend money")

Total amount is greater than 100
You can spend money

In [75]:
amount = 70

if amount>100:    
    print("Total amount is greater than 100")
    print("You can spend money")        
elif (80 < amount <= 100) :
    print('I have exactly 100 Rs')
    print('Spend wisely')    
elif (60 < amount <= 80) :
    print('Low Money',amount)
    print('Spend when you have more')    
else:
    print("Not enough money")
    print("Save More")
    
print('If and else code over')

Low Money 70
Spend when you have more
If and else code over

In [76]:
print('Total Amount : ',amount)

Total Amount :  70

In [78]:
print("I have {} rupees".format(amount))

I have 70 rupees