In [ ]:
For Loop
Lists
Tuples
Dictionary
Functions

#### For Loop

In [2]:
a = range(-5,5)

In [3]:
len(a)

10

In [4]:
a[0]

-5

In [5]:
a[1]

-4

In [9]:
for i in range(-5,5):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4

In [10]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
#We iterate when we have a sequence
a = 'This is our first class'

In [16]:
for i in a:
    print(i)

T
h
i
s

i
s

o
u
r

f
i
r
s
t

c
l
a
s
s

In [18]:
len(a)

23

In [19]:
#fetching the elements by postion/index
for i in range(len(a)):
    print(a[i])

T
h
i
s

i
s

o
u
r

f
i
r
s
t

c
l
a
s
s

In [20]:
for i in range(len(a)):
    print('index = ',i,', Value = ',a[i])

index =  0 , Value =  T
index =  1 , Value =  h
index =  2 , Value =  i
index =  3 , Value =  s
index =  4 , Value =
index =  5 , Value =  i
index =  6 , Value =  s
index =  7 , Value =
index =  8 , Value =  o
index =  9 , Value =  u
index =  10 , Value =  r
index =  11 , Value =
index =  12 , Value =  f
index =  13 , Value =  i
index =  14 , Value =  r
index =  15 , Value =  s
index =  16 , Value =  t
index =  17 , Value =
index =  18 , Value =  c
index =  19 , Value =  l
index =  20 , Value =  a
index =  21 , Value =  s
index =  22 , Value =  s

In [24]:
for i in range(23,0,-1):
    print(i)

23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [30]:
x = range(10,0,-2)

In [31]:
len(x)

5

In [32]:
x[0]

10

In [33]:
x[1]

8

In [34]:
x[2]

6

In [35]:
a = 'This is our first class'

In [37]:
#counting the number of words
count = 0

for i in a:
    if i == ' ':
        count = count + 1
        
print('Total No. of words : ',count+1)

Total No. of words :  5

In [39]:
#shortcut
len(a.split(' '))

5

#### Lists

In [40]:
l1 = []

In [41]:
type(l1)

list

In [42]:
l1 = ['Sreemanto','Jay',139,15.1]

In [43]:
#add a new element in the list
l1.append('Tejas')

In [44]:
l1

['Sreemanto', 'Jay', 139, 15.1, 'Tejas']

In [45]:
#append - appends one element at a time
l1.extend([100,200])

In [46]:
l1

['Sreemanto', 'Jay', 139, 15.1, 'Tejas', 100, 200]

In [47]:
l1.append(100,200)

TypeError: append() takes exactly one argument (2 given)

In [58]:
l1

['Sreemanto', 'Jay', 139, 15.1, 'Tejas', 100, 200]

In [59]:
l1[0]

'Sreemanto'

In [60]:
l1[1]

'Jay'

In [61]:
l1[-1]

200

In [48]:
l2 = [123,39,45]

In [49]:
l2.sort()

In [50]:
l2

[39, 45, 123]

In [51]:
l2.reverse()

In [52]:
l2

[123, 45, 39]

In [53]:
l3 = ['Tejas','Sree','Yash']

In [54]:
l3.sort()

In [55]:
l3

['Sree', 'Tejas', 'Yash']

In [56]:
l4 = [[121,'Sree',5.5],[122,'Jay',3.1],[123,'Tarun',2.1]]

In [57]:
len(l4)

3

In [66]:
l4.pop(0)

[121, 'Sree', 5.5]

In [67]:
l4

[[122, 'Jay', 3.1], [123, 'Tarun', 2.1]]

In [68]:
a = l4.pop(1)

In [69]:
a

[123, 'Tarun', 2.1]

In [70]:
l3

['Sree', 'Tejas', 'Yash']

In [72]:
l3.remove('Tejas')

In [73]:
l3

['Sree', 'Yash']

In [74]:
str1 = 'Timothy King Astor IV'
# copy all the vowels in a list
vowels_list = []
for i in str1:
    if i in 'AEIOUaeiou':
        vowels_list.append(i)

In [75]:
vowels_list

['i', 'o', 'i', 'A', 'o', 'I']

In [76]:
Emp_details = [[121,'Sree',5.5],[122,'Jay',3.1],[123,'Tarun',2.1]]
# how do i extract only the employee id?

In [93]:
Emp_details[2]

[123, 'Tarun', 2.1]

In [94]:
Emp_details[0][0]

121

In [95]:
Emp_details[1][0]

122

In [ ]:
Emp_details = [[121,'Sree',5.5],[122,'Jay',3.1],[123,'Tarun',2.1]]
# how do i extract only the employee id?

In [99]:
# Extract all the employee id?
Emp_ids = []
for employees in Emp_details:
#    print(employees[0])
    Emp_ids.append(employees[0])

In [100]:
Emp_ids

[121, 122, 123]

In [103]:
# Extract all the employee details for employees have work ex > 3
Emps = []
for employees in Emp_details:
    if employees[2] > 3:
#        print(employees)
        Emps.append(employees)

In [104]:
Emps

[[121, 'Sree', 5.5], [122, 'Jay', 3.1]]

In [105]:
Emp_details = [[121,'Sree',5.5],[122,'Jay',3.1],[123,'Tarun',2.1]]
# Extract all the employee id?

In [106]:
[i[0] for i in Emp_details]

[121, 122, 123]

#### List Comrehensions

In [107]:
squares = []
for i in range(10):
    squares.append(i*i)

In [108]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [110]:
sq = [i*i for i in range(10)]
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [112]:
bank_statements = [100,-1000,500,-5000,300]

In [114]:
credits = [i for i in bank_statements if i > 0]
credits

[100, 500, 300]

In [115]:
debits = [i for i in bank_statements if i < 0]
debits

[-1000, -5000]

#### Tuples

In [116]:
t1 = ('name',12,5.1)

In [117]:
type(t1)

tuple

In [118]:
t1[0]

'name'

#### Dictionaries

In [119]:
# key value pair
# similar to how we see objects in a json file
car = {"Brand" : 'Hyundai',
       "Model" : 'I20',
       "Year" : 2015}

In [120]:
type(car)

dict

In [121]:
car.keys()

dict_keys(['Brand', 'Model', 'Year'])

In [122]:
car.values()

dict_values(['Hyundai', 'I20', 2015])

In [123]:
car.items() #fethes key and value pairs in a tuple format

dict_items([('Brand', 'Hyundai'), ('Model', 'I20'), ('Year', 2015)])

In [126]:
#How do you acces an element in a doctionary
car['Model']

'I20'

In [127]:
#adding a new pair
car['Mileage'] = '13Kmpl'

In [128]:
car

{'Brand': 'Hyundai', 'Model': 'I20', 'Year': 2015, 'Mileage': '13Kmpl'}

In [129]:
len(car)

4

In [141]:
Emp = {
    'ids' : [121,122,123],
    'names' : ['Sree','Tejas','Jay'],
    'WorkEx' : [1.5,3.2,3.3]
}

In [142]:
Emp['names']

['Sree', 'Tejas', 'Jay']

In [13]:
Emp = {
    '121' : {
        'name' : 'Sree',
        'WorkEx' : 4.9,
        'Position' : 'AM',
        'Salary' : 700000},
    
        '122' : {
        'name' : 'Kunal',
        'WorkEx' : 3.9,
        'Position' : 'SM',
        'Salary' : 900000},

        '123' : {
        'name' : 'Rohan',
        'WorkEx' : 1.5,
        'Position' : 'Con',
        'Salary' : 400000}
}

In [14]:
#fetch the sum of all the salaries?
total_salary = 0
for i in Emp.keys():
    total_salary = total_salary + Emp[i]['Salary']

In [15]:
total_salary

2000000

In [140]:
#fetch me the names
for i in Emp.keys():
    #print(i)
    print(Emp[i]['name'])

Sree
Kunal
Rohan

In [137]:
Emp['121']

{'name': 'Sree', 'WorkEx': 4.9, 'Position': 'AM', 'Salary': '7LPA'}

In [138]:
Emp['121']['name']

'Sree'

In [16]:
Emp = {
    '121' : {
        'name' : 'Sree',
        'WorkEx' : 4.9,
        'Position' : 'AM',
        'Salary' : '17lpa'},
    
        '122' : {
        'name' : 'Kunal',
        'WorkEx' : 3.9,
        'Position' : 'SM',
        'Salary' : '9lpa'},

        '123' : {
        'name' : 'Rohan',
        'WorkEx' : 1.5,
        'Position' : 'Con',
        'Salary' : '4lpa'}
}

In [32]:
#fetch the sum of all the salaries?
for i in Emp.keys():
    #print(Emp[i]['Salary'])
    #print(Emp[i]['Salary'].split('lpa'))
    #print(Emp[i]['Salary'].split('lpa')[0])
    print(int(Emp[i]['Salary'].split('lpa')[0]))

17
9
4

In [33]:
#fetch the sum of all the salaries?
total = 0
for i in Emp.keys():
    total = total + int(Emp[i]['Salary'].split('lpa')[0])

In [34]:
str(total) + 'lpa'

'30lpa'

#### Functions

In [35]:
def simple():
    print('Enterd the function')
    print('Simple function')
    
print('Not a part of the function')

Not a part of the function

In [36]:
simple()

Enterd the function
Simple function

In [37]:
#function with a parameter
def plus_ten(a):
    print('Value ',a)

In [39]:
plus_ten(10)

Value  10

In [40]:
#function with a parameter and returning a value
def plus_ten(a):
    print('Value ',a)
    return a+10

In [41]:
plus_ten(25)

Value  25

35

In [46]:
val = plus_ten(25)
val

Value  25

35

In [42]:
def minus_ten(a):
    print('Value ',a-10)

In [43]:
minus_ten(225)

Value  215

In [44]:
val = minus_ten(225)

Value  215

In [45]:
print(val)

None

In [47]:
#Nested functions
def wage(w_hour):
    print('Entered the wage function')
    return w_hour*25

def with_bouns(w_hour):
    print('Entered the bonus function')
    return wage(w_hour)+50

In [48]:
wage(8)

Entered the wage function

200

In [49]:
with_bouns(8)

Entered the bonus function
Entered the wage function

250